body{
    background-color: grey;
}
.header{
    text-align:center;
}
.main{
    text-align: center;
}

.atag{
    color:black;
}

.header-image{
    text-align:start;
}
.about a{
     color:rgb(0, 255, 255);
    background:black;
    border-radius: 10px;
    text-decoration: none;
}
h2{
    color: white;
}
.bookdisplay a{
     color:rgb(0, 255, 255);
    background:white;
    border-radius: 10px;
    text-decoration: none;
}
input{
  width:200px;
  
  padding:12px;
  font-size:18px;
  border-radius:20px;
  border:1px solid gray;
}
button{
     border-radius: 5px; /* または 0.5rem など */
  padding: 10px 20px;
}
button a{
    color: yellowgreen;
    text-decoration: none;
    font-size:large;
}
.header{
  background-color:aliceblue;
}
.footer{

background-color:darkgray;

}